# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    1.Python  
    2.R  
    3.SQL  
    4.Java  
    5.Julia

Some of the commonly used libraries used by Data Scientists include:  
    1. Tensorflow   
    2. Pytorch  
    3. Pandas  
    3. Numpy

|Data Science Tools|
--------------------
|Jupyter Notebook|
|RStudio|
|VSCode|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This is a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [11]:
#This will convert 200 mintues to hours by diving by 60
h = min/60
min = 200

print(h)

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List popular Li for Data Science
- List popular Tools for Data Science